<p
    *ngIf="!video"
    class="alert alert-info"
    role="alert"
>
    Trwa pobieranie danych na temat wybranego filmu...
</p>

<div
    *ngIf="video"
    class="row"
>
    <div class="col-3">
        <img
            class="img-thumbnail rounded float-left"
            [src]="video.thumb_url"
        />
    </div>

    <div class="col-5">
        <h2>
            {{ video.title }}
            <small *ngIf="video.year">
                ( {{ video.year }} )
            </small>
        </h2>

        <p *ngIf="video.duration">
            Czas trwania: {{ video.duration }} minut
        </p>

        <p>
            {{ video.description }}
        </p>
    </div>

    <div class="col-4">
        <iframe
            class="row"
            [src]="getVideoUrl()"
        ></iframe>
    </div>
</div>
