<nav class="py-3">
    <ul class="nav">
        <li class="nav-item pr-1">
            <a
                class="btn btn-secondary"
                routerLink="/"
                routerLinkActive="btn-success"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Home
            </a>
        </li>
        <li class="nav-item pr-1">
            <a
                class="btn btn-secondary"
                routerLink="/movies"
                routerLinkActive="btn-success"
            >
                Movies
            </a>
        </li>
        <li class="nav-item">
            <a
                class="btn btn-secondary"
                routerLink="/contact"
                routerLinkActive="btn-success"
            >
                Contact
            </a>
        </li>
    </ul>
</nav>
