<nav class="py-3">
    <ul class="nav">
        <li class="nav-item pr-1">
            <a
                class="btn btn-outline-primary"
                routerLink="/"
                routerLinkActive="btn-primary text-white"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Strona główna
            </a>
        </li>
        <li class="nav-item pr-1">
            <a
                class="btn btn-outline-primary"
                routerLink="/movies"
                routerLinkActive="btn-primary text-white"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Filmy
            </a>
        </li>
        <li class="nav-item">
            <a
                class="btn btn-outline-primary"
                routerLink="/contact"
                routerLinkActive="btn-primary text-white"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Kontakt
            </a>
        </li>
    </ul>
</nav>
