<h3 class="subheader" *ngIf="videos.length > 0">
  Sortowanie

  <a (click)="sortAscending()" class="button warning small">Alfabetycznie</a>
  <a (click)="sortDescending()" class="button warning small">Odwrotnie</a>
</h3>

<div class="clearfix"></div>

<ul class="no-bullet row">
  <li
    class="large-4 columns float-left"
    *ngFor="let video of videos | paginate: { itemsPerPage: 9, currentPage: p }"
  >
    <app-video-detail [video]="video"></app-video-detail>
  </li>
</ul>

<div class="clearfix text-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
