<ng-container *ngIf="video">
    <div class="card">
        <a
            [routerLink]="['/video/' + video.id]"
        >
            <img
                class="card-img-top"
                [src]="video.thumb_url"
            />
        </a>

        <div class="card-body">
            <h3 class="card-title">
                {{ video.title }}
                <small *ngIf="video.year">
                    ( {{ video.year }} )
                </small>
            </h3>

            <p
                *ngIf="video.duration"
                class="card-text"
            >
                Czas trwania: {{ video.duration }} minut
            </p>

            <p>{{ video.description }}</p>

            <a
                [routerLink]="['/video/' + video.id]"
                class="btn btn-primary"
            >
                Zobacz profil
            </a>
        </div>
    </div>
</ng-container>
